// css 初始化
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: electronicFont;
	src: url(../font/DS-DIGIT.TTF);
}

body {
	background: url(../image/bg.jpg) no-repeat top center;
	overflow: hidden;
}

header {
	position: relative;
	height: 1.25rem;
	background: url(../image/head_bg.png) no-repeat;
	background-size: 100% 100%;
	
	h1 {
		color: #ffffff;
		font-size: 0.475rem;
		text-align: center;
		line-height: 1rem;
	}
	
	.showTime {
		position: absolute;
		top: 0;
		right: 0.375rem;
		line-height: 0.9375rem;
		color: rgba(255, 255, 255, 0.7);
		font-size: 0.25rem;
	}
}

.mainbox {
	min-width: 1024px;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0.125rem 0.125rem 0;
	display: flex;
	
	.column {
		flex: 3;
	}
	
	.column:nth-child(2) {
		flex: 5;
		margin: 0 0.125rem 0.1875rem;
	}
	
	.panel{
		position: relative;
		// height: 3.875rem;
		height: 3.315rem;
		padding: 0 0.1875rem 0.5rem;
		margin-bottom: 0.1875rem;
		// background-color: skyblue;
		border: 1px solid rgba(25, 186, 139, 0.17);
		background: url(../image/line.png) rgba(255, 255, 255, 0.04);
		
		h2 {
			height: 0.5rem;
			line-height: 0.5rem;
			color: #ffffff;
			font-size: 0.25rem;
			text-align: center;
		}
		
		.chart {
			height: 2.6rem;
			// background-color: skyblue;
		}
	}
	
	.panel:before {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 0.125rem;
		height: 0.125rem;
		border-left: 2px solid #02a6b5;
		border-top: 2px solid #02a6b5;
	}
	
	.panel:after {
		position: absolute;
		right: 0;
		top: 0;
		content: '';
		width: 0.125rem;
		height: 0.125rem;
		border-right: 2px solid #02a6b5;
		border-top: 2px solid #02a6b5;
	}
	
	.panel_footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: skyblue;
	}
	
	.panel_footer:before {
		position: absolute;
		left: 0;
		bottom: 0;
		content: '';
		width: 0.125rem;
		height: 0.125rem;
		border-left: 2px solid #02a6b5;
		border-bottom: 2px solid #02a6b5;
	}
	
	.panel_footer:after {
		position: absolute;
		right: 0;
		bottom: 0;
		content: '';
		width: 0.125rem;
		height: 0.125rem;
		border-right: 2px solid #02a6b5;
		border-bottom: 2px solid #02a6b5;
	}
}

//      数字模块制作
.no {
	background: rgba(101, 132, 226, 0.1);
	padding: 0.1875rem;
	
	.no_hd{
		position: relative;
		border: 1px solid rgba(25, 186, 139, 0.17);
		
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			
			li {
				position: relative;
				flex: 1;
				height: 0.8rem;
				line-height: 0.8rem;
				font-size: 0.775rem;
				color: #ffeb7b;
				text-align: center;
				font-family: "electronicFont";
				
				&::after{
					position: absolute;
					content: '';
					top: 25%;
					right: 0;
					width: 1px;
					height: 50%;
					background-color: rgba(255, 255, 255, 0.2);
				}
			}
			
		}
	}
	
	.no_hd:before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 18px;
		height: 8px;
		border-top: 1px solid #02a6b5;
		border-left: 1px solid #02a6b5;
	}
	
	.no_hd:after {
		position: absolute;
		content: '';
		right: 0;
		bottom: 0;
		width: 18px;
		height: 8px;
		border-right: 1px solid #02a6b5;
		border-bottom: 1px solid #02a6b5;
	}
	
	.no_bd {
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			
			li {
				flex: 1;
				height: 0.4rem;
				line-height: 0.4rem;
				color: rgba(255, 255, 255, 0.7);
				font-size: 0.2rem;
				padding: 0.125rem 0 0 0;
				text-align: center;
			}
		}
	}
}

.map {
	position: relative;
	height: 8.5rem;
	
	.map1 {
		width: 5.475rem;
		height: 5.475rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url(../image/map.png);
		background-size: 100% 100%;
		opacity: 0.3;
	}
	
	.map2 {
		position: absolute;
		width: 6.6375rem;
		height: 6.6375rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url(../image/lbx.png);
		background-size: 100% 100%;
		opacity: 0.6;
		animation: rotate1 15s linear infinite;
	}
	
	.map3 {
		position: absolute;
		width: 5.95rem;
		height: 5.95rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url(../image/jt.png);
		background-size: 100% 100%;
		opacity: 0.6;
		animation: rotate2 15s linear infinite;
	}
	
	.chart {
		width: 100%;
		height: 8.5rem;
		position: absolute;
		top: 0;
		left: 0;
		// background-color: skyblue;
	}
	
	@keyframes rotate1 {
		form {
			transform: translate(-50%, -50%) rotate(0deg);
		}
		
		to {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
	
	@keyframes rotate2 {
		form {
			transform: translate(-50%, -50%) rotate(0deg);
		}
		
		to {
			transform: translate(-50%, -50%) rotate(-360deg);
		}
	}
}